* {
  padding: 0;
  margin: 0;
}

:root {
  --warna1: #aee2ff;
  --warna2: #b799ff;
  --warna3: #acbcff;
}

.kanan-atas {
  right: 0;
  top: 0;
}
.kanan-bawah {
  right: 0;
  bottom: 0;
}

.main {
  padding: 2rem;
  min-height: 100vh;
  /* position: relative; */
}

#kotak {
  background-color: var(--warna2);
  border-radius: 1rem;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 2rem;
  position: absolute;
}
